{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.google apis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tour/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>

<!-- Icon -->
<svg style="display: none;">
	<symbol id="vk" viewBox="0 0 64 64">
		<g>
			<path d="M9.62,19.77H17.3a.79.79,0,0,1,.74.51c.85,2.19,4.38,10.76,7.61,11.46,2.4,0,1.55-11.4-1.5-11.4-.8,0,1.42-1.42,1.57-1.48a16.38,16.38,0,0,1,8.66,0c1.53.64,1.79,2.43,1.83,3.95s-1.7,8,.59,8.7c3,.92,6.86-8.49,7.76-10.8a.79.79,0,0,1,.74-.5h8.55a.8.8,0,0,1,.74,1.11,74.74,74.74,0,0,1-6.31,11.52,1.59,1.59,0,0,0,.16,2C51,37.58,58,45.34,54,45.34H45.37a1.57,1.57,0,0,1-1.18-.53c-1.34-1.48-5.24-5.6-7-5.27-1.46.27-1.6,2.75-1.53,4.37a1.6,1.6,0,0,1-1.48,1.68c-1.53.09-3.62.13-3.81.12-6.1-.39-9.71-4.46-13.16-9A56.33,56.33,0,0,1,8.86,20.83.81.81,0,0,1,9.62,19.77Z"/>
		</g>
	</symbol>
</svg>

<header class="header">
    <!-- <div class="icon">Что-то</div> -->
</header>
<!-- Видео сверху -->
<div class="intro">
    <div class="video">
        <video class="video__media" src="{% static 'tour/media/video.mp4' %}" autoplay muted loop></video>
    </div>
	<div class="intro__content">
		<div class="container">
			<div class="intro__title title">Виртуальный тур</div>
			<div class="intro__title title">"Православный Сарапул"</div>
			<div class="intro__subtitle"></div>
		</div>
	</div>
</div>
<!-- Animated tours -->
<div class="animated-tour">
	{% for t in tours_is_restored %}
	<div class="animated-tour__item">
        <img class="animated-tour__photo" src="{{ t.photo.url }}" alt="">
        <div class="animated-tour__content">
            <div class="animated-tour__tilte">{{ t.title }}</div>
			{% if t.video %}
			<a href="{% url 'video' t.video.pk %}" class="animated-tour__btn btn">Реконструкция</a>
			{% else%}
			<a href="#" class="animated-tour__btn btn">Реконструкция</a>
			{% endif %}
        </div>
    </div>
	{% endfor %}
</div>
<div class="tour">
    <div class="tour__block">
        <div class="container">
			<!-- <div class="tour__title">Что-то</div>
			<div class="tour__subtitle">Описание чего-то</div> -->
        </div>
    </div>
    <div class="tour__list container">
		{% for t in tours %}
    	<div class="tour__item">
			<img src="{{ t.photo.url }}" alt="" class="tour__photo">
			<div class="tour__name">{{ t.title }}</div>
			<div class="tour__btn-wrapper">
				{% if t.virtual_tour %}
				<a href="{{ t.virtual_tour }}" class="tour__btn btn btn--gray">Виртуальный тур</a>
				{% else %}
				<a href="#" class="tour__btn btn btn--gray">Виртуальный тур</a>
				{% endif %}
				{% if t.video %}
				<a href="{% url 'video' t.video.pk %}" class="tour__btn btn btn--aqua">Обзорная экскурсия</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<footer class="footer">
    <div class="footer__inner container">
		<div class="footer__description">
			<a class="social__item" href="https://vk.com/sar_cdutt" target="_blank">
				<svg class="social__icon">
					<use xlink:href="#vk"></use>
				</svg>
			</a>
		</div>
		<div class="footer__feedback">
			<div class="footer__title title">Контакты</div>
			<div class="footer__link">E-mail: dodcdutt@mail.ru</div>
			<div class="footer__link">Телефон: (34147) 3-48-47</div>
			<div class="footer__link">Адрес: 427974, Удмуртская Республика, Сарапул, Пугачева, 60</div>
		</div>
	</div>
</footer>
</body>
</html>